<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  id="mainNav"
  style="background-color: #212529"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
      {%- if site.logo -%}
      <img
        height="{{ site.logo.height | default: 52 }}"
        src="{{ site.logo.path }}"
      />
      {%- else -%} {{ site.title }} {%- endif -%}
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu<i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            View
          </a>
          <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <div class="dropdown-item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="compact-line-height"
                />
                <label
                  class="form-check-label"
                  for="compact-line-height"
                >
                  Compact Line Height
                </label>
              </div>
            </div>
          </div>
        </li>
      {% if site.locale and site.locale != "" and site.locale != nil %}
        {%- for link in site.data.navigation[site.locale].nav -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}"
            >{{ link.title }}</a
          >
          {%- elsif link.section -%}
          <a
            class="nav-link js-scroll-trigger"
            href="{{ site.baseurl }}/#{{ link.section }}"
            >{{ link.title }}</a
          >
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {%- endfor -%}
      {% else %}
        {%- for link in site.data.navigation.nav -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}"
            >{{ link.title }}</a
          >
          {%- elsif link.section -%}
          <a
            class="nav-link js-scroll-trigger"
            href="{{ site.baseurl }}/#{{ link.section }}"
            >{{ link.title }}</a
          >
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {%- endfor -%}
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
